.page1 {
    transform: translate(-20vw, -20vw);
}
.page2 {
    transform: translate(-10vw, -25vw);
}
.page3 {
    transform: translate(70vw, -30vw);
}
.page4 {
    transform: translate(-40vw, 30vw);
}
.page6 {
    transform: translate(-10vw, -25vw);
}
.page5 {
    transform: translate(70vw, -30vw);
}

.blobContainer {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100vh;

    overflow: hidden;
}
.blob2 {
    width: 80vw;
    height: 80vw;
    /* transform: translate(-40%, -60%); */
    transition: all 5s cubic-bezier(0.07, 0.8, 0.16, 1);
    border-radius: 50%;
    position: absolute;
    animation: blob2 3s alternate infinite;
    /* animation: rotate 1s infinite, spin 3s; */
    background-image: radial-gradient(
        circle at top,
        rgb(207, 20, 139),
        blue,
        green
    );
    /* mix-blend-mode: color-dodge; */
    z-index: -1;
    filter: blur(2px);
}
.blob2:hover {
    filter: blur(30px);
    width: 80vw;
    height: 80vw;
}

@keyframes blob2 {
    0%,
    100% {
        background-position: 0% 50%;
        background-size: 200% 100%;
        /* border-radius: 24% 76% 35% 65%/27% 36% 64% 73%; */
        border-radius: 24% 76% 35% 65%/27% 36% 64% 73%;
        /* background-image: linear-gradient(to right, #d43651, #d5387c, #c64ba7, #a563cc, #6d79e6); */

        background-image: radial-gradient(
            circle at bottom,
            #e7657a,
            #e36090,
            #d860a7,
            #c565be,
            #a86dd2,
            #996fd5,
            #8971d7,
            #7873d8,
            #7e6fcd,
            #836bc3,
            #8568b9,
            #8765af
        );
    }

    50% {
        background-position: 100% 50%;
        background-size: 200% 100%;
        border-radius: 76% 24% 33% 67%/ 68% 55% 45% 32%;
        background-image: radial-gradient(
            circle at bottom,
            #e7657a,
            #e36090,
            #d860a7,
            #c565be,
            #a86dd2,
            #996fd5,
            #8971d7,
            #7873d8,
            #7e6fcd,
            #836bc3,
            #8568b9,
            #8765af
        );

        /* background-image: linear-gradient(to right, #e7657a, #e36090, #d860a7, #c565be, #a86dd2, #996fd5, #8971d7, #7873d8, #7e6fcd, #836bc3, #8568b9, #8765af); */
    }
}
