.servicesContainer {
    padding: 40px;
}
.servicesCard {
}

.card {
    border-radius: 10px;

    padding: 40px;
    cursor: pointer;
    width: fit-content;
    background-color: #1e1e21;
    border: 1px solid #2d2d30;
    color: #a1a1aa;
    transition: 0.5s ease-in;
}
.card:hover {
    color: rgb(255, 255, 255);
    border: 1px solid white;
    background-color: #2e2e32;
}
.servicesContainer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.featureContainer {
    background: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 20px;
    border-width: 1px;
}
.serviceBg {
    background-image: url("../../../../assets/finbot/Group1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featuresa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url("../../../../assets/finbot/blobs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50% 50%/0 0 50% 50%;
}
.featuresa {
    position: relative;
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.featuress::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50% 50%/0 0 50% 50%;
}
.featuress {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
}
