@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }

    html {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background-color: rgb(0, 0, 0);
        /* background-image: url("https://thumbs.dreamstime.com/b/futuristic-vector-illustration-geometric-style-retro-city-skyline-s-neon-glowing-moon-starry-sky-synthwave-retrowave-213015575.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    }
}
=======

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}
>>>>>>> 4842cb3982cccab721bb1504e4869c7bf4e281ac
